/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Tokens */

:root {
    --white: #ffffff;
    --gray: #f7f7f7;
    --dark-gray: #676767;
    --light-gray: #909090;
    --black: #111111;
    --blue: #a1b9f7;
}


/* Textos */

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    color: var(--black);
}

p {
    color: var(--black);
}

a {
    text-decoration: none;
    transition: 300ms ease all;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    font-family: sans-serif;
}

header {
    width: 100%;
    .topBar {
        width: 100%;
        height: 36px;
        padding: 0 40px;
        background-color: var(--gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            gap: 24px;
            li {
                list-style-type: none;
                a {
                    display: flex;
                    width: fit-content;
                    height: 18px;
                    img {
                        height: 100%;
                        display: block;
                    }
                }
            }
        }
        .menuTop {
            width: fit-content;
            display: flex;
            align-items: center;
            height: 36px;
            gap: 0;
            li {
                height: 36px;
                list-style-type: none;
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    height: 36px;
                    width: fit-content;
                    height: 18px;
                    font-size: 12px;
                    line-height: 12px;
                    color: var(--black);
                }
                &::after {
                    content: "|";
                    font-size: 12px;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    height: 36px;
                }
                &:last-child::after {
                    content: "";
                }
            }
        }
    }
    .menu {
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        display: flex;
        .logo {}
        .menuItens {
            display: flex;
            align-items: center;
            gap: 32px;
            li {
                list-style-type: none;
                a {
                    color: var(--black);
                    font-size: 16px;
                }
            }
        }
        .icones {
            display: flex;
            gap: 4px;
            li {
                list-style-type: none;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    font-size: 24px;
                    width: 36px;
                    height: 36px;
                    justify-content: center;
                    align-items: center;
                    color: var(--black);
                    border-radius: 50%;
                    &:hover {
                        background-color: #cecece;
                    }
                }
            }
        }
    }
    .bottomBar {
        width: 100%;
        height: 55px;
        background-color: var(--gray);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .prev,
        .next {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
        .msgs {
            width: 850px;
            height: 55px;
            position: relative;
            overflow: hidden;
            .msg {
                width: 850px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                animation-name: rolarTexto;
                animation-duration: 12s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            .msg:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
            }
            .msg:nth-child(2) {
                position: absolute;
                top: 0;
                left: 850px;
            }
            .msg:nth-child(3) {
                position: absolute;
                top: 0;
                left: 1700px;
            }
            .msg:nth-child(4) {
                position: absolute;
                top: 0;
                left: 2550px;
            }
            .msg:nth-child(5) {
                position: absolute;
                top: 0;
                left: 3400px;
            }
        }
    }
    .breadcrumb {
        width: 1280px;
        margin: 0 auto;
        height: 100px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        ul {
            display: flex;
            li {
                list-style-type: none;
                font-size: 14px;
                color: var(--black);
                a {
                    font-size: 14px;
                    color: var(--black);
                    &::after {
                        content: "/";
                        padding: 0 8px;
                    }
                }
            }
        }
    }
}

@keyframes rolarTexto {
    0% {
        transform: translateX(0%);
    }
    7.5% {
        transform: translateX(0%);
    }
    12.5% {
        transform: translateX(-100%);
    }
    32.5% {
        transform: translateX(-100%);
    }
    37.5% {
        transform: translateX(-200%);
    }
    57.5% {
        transform: translateX(-200%);
    }
    62.5% {
        transform: translateX(-300%);
    }
    82.5% {
        transform: translateX(-300%);
    }
    87.5% {
        transform: translateX(-400%);
    }
    99.99% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0%);
    }
}

main {
    width: 100%;
    padding: 0;
    .produto {
        width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 632px);
        gap: 16px;
        .fotos {
            grid-column: 1;
            grid-row: span 2;
            .grande {
                width: 632px;
                height: 632px;
                overflow: hidden;
                img {
                    width: 100%;
                    display: block;
                    transition: 300ms ease all;
                }
                &:hover img {
                    transform: scale(1.1) rotate(5deg);
                }
            }
            .miniaturas {
                width: 100%;
                display: flex;
                gap: 8px;
                padding-top: 8px;
                .mini {
                    width: 72px;
                    height: 72px;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        .desc {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            h1 {
                font-weight: 500;
            }
            h2 {
                font-size: 18px;
            }
            .classificacao {
                display: flex;
                align-items: center;
                gap: 8px;
                .nota {
                    border: 1px solid var(--dark-gray);
                    padding: 2px 4px;
                    border-radius: 4px;
                    color: var(--dark-gray);
                }
                p {
                    font-size: 14px;
                }
            }
            .preco {
                display: flex;
                flex-direction: column;
                gap: 8px;
                h2 {
                    font-weight: bold;
                    margin-top: 16px;
                }
                p {
                    font-size: 14px;
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
        .detalhes {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .cores {
                display: flex;
                align-items: center;
                gap: 16px;
                .cor {
                    width: 128px;
                    height: 128px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: 300ms ease all;
                    border: 1px solid transparent;
                    img {
                        width: 100%;
                        display: block;
                    }
                    &.ativo {
                        border: 1px solid var(--black);
                    }
                    &:hover {
                        border: 1px solid var(--light-gray);
                        cursor: pointer;
                    }
                }
            }
            .tamanhos {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                h2 {
                    width: 100%;
                }
                input[type="radio"] {
                    appearance: none;
                    display: none;
                }
                label {
                    width: 72px;
                    height: 48px;
                    border: 1px solid #676767;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 300;
                    color: #676767;
                    &:hover {
                        cursor: pointer;
                    }
                }
                input[type="radio"]:checked+label {
                    color: black;
                    border: 1px solid black;
                    box-shadow: inset 0 0 8px dodgerblue;
                }
                input[type="radio"]:disabled+label {
                    color: #909090;
                    border: 1px solid #909090;
                    position: relative;
                    background-color: #ececec;
                    &::after {
                        content: "";
                        border-top: 1px solid #909090;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 82px;
                        transform: translate(-50%, -50%) rotate(32deg);
                    }
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
            .botoes {
                display: flex;
                gap: 16px;
                .btnSacola,
                .btnFavoritos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 308px;
                    height: 64px;
                    border-radius: 32px;
                }
                .btnSacola {
                    background-color: var(--black);
                    color: var(--white);
                    &:hover {
                        background-color: var(--dark-gray);
                    }
                }
                .btnFavoritos {
                    border: 1px solid var(--dark-gray);
                    color: var(--dark-gray);
                    i {
                        padding-left: 4px;
                    }
                    &:hover {
                        background-color: var(--gray);
                    }
                }
            }
            .share {
                width: fit-content;
                margin: 16px 0;
                color: var(--dark-gray);
                &:hover {
                    color: var(--black);
                }
            }
            details {
                width: 100%;
                height: calc(2rem + 106px);
                summary {
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &::marker {
                        content: "";
                    }
                    &::after {
                        content: "\e3d4";
                        font-family: "phosphor";
                        width: 2rem;
                        height: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 300ms ease all;
                    }
                }
                &[open] summary::after {
                    content: "\e3d4";
                    transform: rotate(45deg);
                }
                ul {
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: var(--black);
    .top {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        gap: 1rem;
        padding: 2rem 0;
        ul {
            width: 25%;
            h4 {
                width: 100%;
                color: var(--white);
                margin-bottom: 1rem;
            }
            li {
                list-style-type: none;
                color: var(--white);
                font-size: 12px;
                margin-bottom: 8px;
            }
            &.social {
                height: 4rem;
                display: flex;
                flex-wrap: wrap;
                gap: 0 1rem;
                i {
                    font-size: 1.25rem;
                }
            }
        }
    }
    .bottom {
        width: 1280px;
        margin: 0 auto;
        height: 100px;
        border-top: 1px solid var(--light-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            gap: 80px;
            li {
                list-style-type: none;
                color: var(--white);
                font-size: 12px;
                a {
                    color: var(--blue);
                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }
}